<div id="<%= @params[:div] %>">
	<h3 class="header"><%= @params[:title] %></h3>
	<%= render "question_fields_list", div: @params[:div], questions: @questions, actions: @params[:actions] %>
</div>
<!-- <br>
<%= link_to 'New Question', new_question_path %> -->
