<%= render 'layouts/header' %>

<div class="row">
  	<div class="col s6">
  		<div id="list-question-recent">
  		</div>
  	</div>
	<div class="col s6">
		<div id="list-question-recent-client"></div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#list-question-recent").load("/questions?ajax=true");
		//$("#list-question-recent-client").load("/clients/<%= @user.client.id %>/questions");
		$("#list-question-recent-client").load("<%= client_questions_path (@user.client) %>?ajax=true");
	});
</script>

<%= render 'layouts/footer' %> 