<%= render 'layouts/header' %> 

<main class="docs-layout-content mdl-layout__content mdl-color-text--grey-600">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<nav class="mdl-navigation mdl-tabs__tab-bar">
			<a href="#all-question" class="mdl-tabs__tab is-active">Ultimas Preguntas</a>
      		<a href="#login" class="mdl-tabs__tab">Iniciar Session</a>
  		</nav>
  	
  		<div class="mdl-tabs__panel is-active" id="all-question">
  			<div id="list-question">
  			</div>
  		</div>
  	
  		<div class="mdl-tabs__panel" id="login">
  			<div id="form-login">
  			</div>
  		</div>
	</div>
</main>

<script>
	$(document).ready(function() {
		$("#list-question").load("/users"); //Se cambiara luego por la lista de preguntas
		$("#form-login").load("/login");
	});
</script>

<%= render 'layouts/footer' %> 