<li class="collection-item">
	<%= will_paginate paginable %>
    <%= page_entries_info paginable %>
</li>
<script>
	$(document).ready(function() {
		$('.pagination a, a.previous_page, a.next_page').on('click', function (e) {
			e.preventDefault();
			$("#<%= div %>").load(e.currentTarget.href);
	 	});
	 });
</script>