<div class="input-field select-field <%= input[:field].nil? ? "" : input[:field][:class] %>">
	<% if input[:label] != nil %>
		<%= f.label input[:id], input[:label]  %><br/><br/>
	<% else %>
		<%= f.label input[:id]  %><br/><br/>
	<% end %>
	<%= f.select input[:id], options %>
</div>

<script>
	$(document).ready(function() {
    	$('select').material_select();
	});
</script>