// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
	margin: 0px;
}

.count {
	
	position: static;
	float: right;
	margin-right: 5%;
	font-style: italic;
	
	span {
		font-style: initial;
		font-weight: bolder;
	}
}