<ul class="collection collapsible" data-collapsible="expandable">
	<% answers.each do |answer| %>
		<li>
      		<div class="collapsible-header">
      			<i class="material-icons">add_circle_outline</i>
      			<%= answer.title %>
      			<% if (@user != nil and @user.client.id == answer.client.id) %>
      				<%= link_to "Editar", edit_question_answer_path(@question, answer), class: "secondary-content" %>
      			<% end %>
      		</div>
      		<div class="collapsible-body">
      			<p class="truncate"><%= answer.description %></p>
      		</div>
    	</li>
	<% end %>
	<%= render "/layouts/form/paginable", colspan: 3, paginable: answers, div: div %>
</ul>

<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible({
      		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    	});
  	});
</script>