<ul class="collection collapsible">
	<% answers.each do |answer| %>
		<li>
      		<div class="collapsible-header">
      			<i class="material-icons">add_circle_outline</i>
      			<%= answer.title %>
      		</div>
      		<div class="collapsible-body">
      			<p class="truncate"><%= answer.description %></p>
      		</div>
    	</li>
	<% end %>
	<%= render "/layouts/form/paginable", colspan: 3, paginable: answers, div: div %>
</ul>

<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible({
      		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    	});
  	});
</script>