<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Respuestas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% answers.each do |answer| %>
      <tr>
        <td><%= link_to answer.title, question_answer_path(@question, answer) %></td>
        <!--<td><%= answer.description %></td>-->
        <% if(answer.client.id = @user.client.id) %>
        	<td><%= link_to 'Editar', edit_question_answer_path(@question, answer) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  
  <%= render "/layouts/form/paginable", colspan: 3, paginable: answers, div: div %>
</table>