// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
}

.demo-card-wide.mdl-card {
  width: 55%; //512px
  height: auto;
  
  .mdl-card__title, .mdl-card__supporting-text {
  	width: 100%;
  }
}

.mdl-radio.is-upgraded {
	width: 49%;
}