// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

/**DASHBOARD*/
main {
	width: 100%;
}
.spacer {
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.form {
	text-align: center;
}
.link {
	margin: 10px;
	padding: 10px;
	display: block;
}
a.link_to {
	color: white; //falta hover...
}
.demo-card-wide.mdl-card.login {
	width: 25%;
	
	.space-center {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.select-field {
	margin-top: 0px;
}
.sub-title {
	font-weight: bold;
}
.title-field {
	font-style: italic;
}
p.title-field {
	text-align: left;
	font-style: initial;
}
/**DASHBOARD*/