<div class="card-action left-align">
	<% if defined? f %>
		<%= f.submit class: "btn waves-effect waves-light" %>
	<% else %>
		<button type="submit" class="btn waves-effect waves-light">
  			<%= (defined? actions) ? actions[:submit] : "Enviar" %>
  			<i class="material-icons right">send</i>
		</button>
	<% end %>
	<button type="reset" class="btn blue-grey waves-effect lighten-5 blue-text text-darken-2">
		Cancelar
	</button>
</div>