<header>
	<nav class="top-nav">
		<div class="container">
          <div class="nav-wrapper">
          	<a href="<%= (session[:user_id] != nil) ? "/dashboard" : "/" %>" class="brand-logo">
          		FISH ANSWER
          	</a>
          	<% if session[:user_id] != nil %>
          		<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
          		<div id="profile">
          			<%= render "/layouts/options_profile", user: @user, ul: {id: "web-menu", class: "right hide-on-med-and-down"} %>
          		</div>
          		<%= render "/layouts/options_profile", user: @user, ul: {id: "mobile-menu", class: "side-nav"} %>
          	<% end %>
          </div>
        </div>
    </nav>
</header>
<script>
	$(document).ready(function() {
		$(".button-collapse").sideNav();
	});
</script>