<header class="docs-layout-header mdl-layout__header">
	<div class="mdl-layout__header-row">
    	<!-- <span class="docs-layout-title mdl-layout-title"><a href="../">Material<br>Design<br>Lite</a></span> -->
  		<p>FISH ANSWER (LOGO)</p>
  		<div class="spacer"></div>
  		<% if session[:user_id] != nil %>
  			<div id="profile">
  				<%= link_to "Usuario: "+@user.fullName, @user.client, class: "link_to profile" %>
  				<%= link_to "Logout", "/logout", class: "link_to header" %>
  			</div>
  		<% end %>
  	</div>
</header>